*{
	padding: 0;
	margin: 0;
}

body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.displayFlex{
	display: flex;
}

.justifyCenter{
	justify-content: center;
}

.colorWhite{
	color: white;
}

.backgroundColor1{
	background-color: #ae946d;
}

.padding10{
	padding: 10px;
}

.fontSize13{
	font-size: 13px;
}

.headerLeft img{
	width: 60px;
	margin: 0 0 0 20px;
}

.sticky{
	position: sticky;
}

.top{
	top: 0;
}

.topFresh{
	top: 26%;
}

.rightFresh{
	right: 9%;
}

.alignCenter{
	align-items: center;
}

.justifySpaceBetween{
	justify-content: space-between;
}

.backgroundColor2{
	background-color: #181818;
}

.headerRight img{
	width: 20px;
	margin: 10px;
}

.marginLeft30{
	margin: 0 30px 0 0;
}

::placeholder{
	color: white;
	font-weight: 600;
}

.headerBottom input{
	border: none;
	background-color: black;
}

.border1{
	border: 1px #464646 solid;
}

.first{
	max-width: 100%;
}

.absolute{
	position: absolute;
}

.fontSize36{
	font-size: 36px;
}

.fontWeight{
	font-weight: 600;
}

.relative{
	position: relative;
}

.textCenter{
	text-align: center;
}

.fontSize18{
	font-size: 18px;
}

.paddingMargin0{
	padding: 0;
	margin: 0;
}

.marginTop{
	margin: 10px 5px 0 5px;
}

.fontSize12{
	font-size: 12px;
}

.fontSize50{
	font-size: 50px;
}

.topOutlet{
	top: 22%;
}

.leftOutlet{
	left: 10%
}

.backgroundColorBlack{
	background-color: black;
}

.fontSize24{
	font-size: 24px;
}

.widthShoes{
	width: 300px;
}

.discountPercentage{
	font-size: 10px;
	background-color: #ba2026;
	padding: 3px 8px 3px 8px;
}

.marginTopLeft10{
	margin: 30px 20px 10px 20px;
}

.bottom{
	bottom: 0;
}

.colorRed{
	color: #ba2026;
}
.strike{
	color: black;
	font-weight: 100;
}

.widthClub{
	width: 420px;
}

.marginTop5{
	margin: 5px 0 0 0;
}

.marginBottom{
	margin: 0 0 50px 0;
}

.topSail{
	top: 30%;
}

.leftSail{
	left: 8%
}

.borderNone{
	border: none;
}

.marginLeft{
	margin: 0 0 0 30px;
}

.widthCar{
	width: 430px;
}

.leftCar{
	left: 10%;
}

.rightCar{
	right: 10%;
}

.top5{
	top: 5%;
}

.topBfc{
	top: 38%;
}

.rightBfc{
	right: 7%;
}

.icon{
	width: 15px;
}

.topPuma{
	margin: 70px 0 0 0;
}

.leftPuma{
	left: 15%;
} 

.divHeight{
	height: 250px;
}

.color2{
	color: #818181;
}